body{
    background-color: #ecf0f1;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
h1{
    margin-bottom: 0;
}
h2{
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}
h1,h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    list-style-type: none;
    padding: 0px;
}
li{
    background-color: #9b59b6;
    margin: 12px;
    padding: 12px;
    font-size: 18px;
    color: #fff; 
}
