@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 65px;
    text-align: center;
    background-color: #745cc1;
}

.botao, .email, .senha {
    width: 100%;
    margin-top: 50px;
    border: none;
}
.email, .senha {
    border-bottom: 1px solid #fff;
    background-color: transparent;
}
.senha{
    margin-bottom: 15px;
}
.botao {
    height: 50px;
    border-radius: 40px;
    background-color: #fff;

    text-transform: uppercase;
    color: #39393a;
    font-size: 18px;

    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
}
.login form a {
    font-size: 16px;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}
.login form a, .email, .senha {
    color: #fff;
}

/* compatibilidade */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
  }
  
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
  }
  
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
  }